-# coding: utf-8
.banner-container
	.banner-call
		.border1
		.border2
		.bg-dash
		.bg-white
		.icon
		%ul
			%li
				%a{href: '/call_for_projects.html', lang: 'en'}Looking for new projects!
			%li
				%a{href: '/call_for_projects.html', lang: 'it'}Cerchiamo progetti interessanti!
			%li
				%a{href: '/call_for_projects.html', lang: 'es'}¡En busca de nuevos proyectos!
			%li 
				%a{href: '/call_for_projects.html', lang: 'pt'}Buscamos novos projetos!
			%li
				%a{href: '/call_for_projects.html', lang: 'tr'}Yeni projeler arıyoruz!
			%li
				%a{href: '/call_for_projects.html', lang: 'fr'}Avez vous des nouveaux projets? 
			%li
				%a{href: '/call_for_projects.html', dir:'rtl', lang:'ar'}نحن نبحث عن مشاريع جديدة
			%li
				%a{href: '/call_for_projects.html', lang: 'zh'}期待合作
			%li
				%a{href: '/call_for_projects.html', lang: 'cs'}Hledame nove projekty
			%li
				%a{href: '/call_for_projects.html', lang: 'pl'}Masz nowy projekt ? Podziel sie z nami !
			%li
				%a{href: '/call_for_projects.html', lang: 'hu'}Uj projekteket keresunk!
			%li
				%a{href: '/call_for_projects.html', lang: 'de'}Wir suchen neue Projekte!
			%li
				%a{href: '/call_for_projects.html', lang: 'nl'}We zijn op zoek naar nieuwe projecten!