-# coding: utf-8
#logo
	%a.logo{href: '/'}
		/
			%span.sone
			%span.zero
			%span.stwo
			%span.one
			%span.sthree
			%span.two
			%span.sfour
			%span.three
			%span.stwo

			%span.num.four
			%span.stripe.four
			%span.num.five
			%span.stripe.three
			%span.num.six
			%span.stripe.two
			%span.num.seven
			%span.stripe.one
			%span.num.eight
			%span.stripe.two
			%span.num.nine
			%span.stripe.four

		%span.logo_text
%nav.navigation
	%ul
		%li
			%a.who{href: '/our_approach.html'} Our approach
		%li
			%a.call{href: '#'} How to
	%ul
		%li
			%a.ask{href: '/projects.html'} Projects
	%ul
		%li
			%a.publish{href: '/call_for_projects.html'} Call for projects

			
/
	#paper
		%span.pdf_icon PDF icon
		%a{href: '#'} Download PDF
	#socials
= partial "partials/banner"