%hr.spacer-accordion
%header.accordion
	%a{href: '/'}
		%span.icon
	.container-title
		.arrow
		%h2
			Submit a project
		%h3
			How		
%section.submit
	#spiegazione
		%p
			Write about your project and yourself, take pictures and send all details to us on...
		
	
		.button_container			
			.corner_left
			%h4.buttons.yellow_button
				=partial "partials/submit_email"
			.corner_right