#project-update-header
	#support
		.share
			.facebook
			.twitter
			.googleplus
		.donate
			.clear-box
			.button_container			
				.corner_left
				%h4.buttons.yellow_button
					%a{:href=>"#"} Donate
				.corner_right
	#publisher-container
		%a.container-pic{href: '#'}
			= image_tag "publisher_placeholder2.png",:alt=>"", :class=>".photo-publisher"
			%span.name Akke M. Draijer
	#project-headline
		.container-headline
			%h1.title South africa dryness issue: irrigation system in uganda
			.icon-where
			%h2.subtitle South africa/uganda
		.tags-container
			%h4
				Tags:
			%ul.tags
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} Dryness
				%li
					.bullet
					%a{href: '#'} Short
				%li
					.bullet
					%a{href: '#'} Irrigation
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} China
				%li
					.bullet
					%a{href: '#'} Africa
				%li
					.bullet
					%a{href: '#'} ngo
				%li
					.bullet
					%a{href: '#'} Irrigation
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} uganda
				%li
					.bullet
					%a{href: '#'} water
#project-update-tab
	%ul.tab
		%li.active
			%a{href: '/project_update.html'} Update
		%li
			%a{href: '/project_details.html'} Project Details
		%li
			%a{href: '#'} Guestbook
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line
#update-body
	