
.single-update
	.single-update-header
		.date
			%h3.day 16 /
			%h3.month September
			%h3.year / 2013
		.comments-container
			.comments
				.arrow
				%a{href: '#'} 19 Comments
			/ .share
			/ 	.arrow
			/ 	%a{href: '#'} Share
		.update-headline-container
			.main-container
				%p.info-project-track
					<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
				.clear
				%h1.title-update
					Intervista a Umarik e Monique Korman
		.intro-update-container
			%p.intro
				Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	