#project-update-tab
	%ul.tab
		%li.active
			%a{href: '/project_update.html'} Update
		%li
			%a{href: '/project_details.html'} Project Details
		%li
			%a{href: '#'} Guestbook
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line
#update-body
	