%ul#info-project
	%li
		%h2 -205
		%h3
			Days
	%li
		%a.donors{href: '/localactors.html'}
			94.850
		%h3
			Supporters
	%li.money
		%h2
			<span class="euro">&#128;</span> 39.752
		%h3
			Raised of <span class="total">&#128; 15.000</span> pledged
	%li.achieved
		.worm
		%ul#project-step
			%li
				%hr.step
				.main-container
					%h4.number
						1.
					.step-container
						%h3.step
							Build a bridge
						%h3.money
							&#128; 600
			%li
				%hr.step
				.main-container
					%h4.number
						2.
					.step-container
						%h3.step
							Build a bridge placeholder text title
						%h3.money
							&#128; 1.350
			%li
				%hr.step
				.main-container
					%h4.number
						3.
					.step-container
						%h3.step
							Placeholder title
						%h3.money
							&#128; 4.700
	%hr.info-spacer