.single-update
	.single-update-body
		%ul.list
			%li
				.arrow
				%p Irrigation Systems Bangladesh
			%li
				.arrow
				%a{href: '#'} Aquaculture
			%li
				.arrow
				%p South Africa Dryness Issues
			%li
				.arrow
				%p Irrigation Systems Bangladesh
