.single-update
	.single-update-body
		.photo
			
			= image_tag "placeholder_pic_update2.png", :class=>".photo-update", :alt=>""
			.description
				.arrow
				%p
					If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.