.single-update
	.single-update-body
		.quote
			%p.name
				Samuel L. Jackson says:
			%p.quote
				<span class="quotation">“</span>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.”
		.clear
















