#project-update-tab
	%ul.tab
		%li
			%a{href: '/project_update.html'} Update <span class="number">(15)</span>
		%li
			%a{href: '/project_details.html'} Project Details
		%li.active
			%a{href: '/guestbook.html'} Guestbook <span class="number">(241)</span>
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line
#update-body
	#ask_question
		%h3
			Ask a question:

