%form.commentform.blue-form{:action => "/Projects/CommentCreate", :enctype => "multipart/form-data", :method => "post"}
    %input{:name => "UpdateID", :type => "hidden", :value => "13"}/
    %input{:name => "UserID", :type => "hidden", :value => "CustomIdentity"}/
    %input{:name => "Date", :type => "hidden", :value => "12/06/2013"}/
    .container-comment
        .askaquestion-cont
            .editor-label
                Ask a question:
            .editor-field
            %textarea#Text{:cols => "30", :name => "Text", :rows => "2"}
                :preserve
            %span.field-validation-valid{"data-valmsg-for" => "Text", "data-valmsg-replace" => "true"} notifica placeholder
        .create-comment
            .clear-box
            .button_container           
                .corner_left
                %h4.buttons.yellow_button
                    %input.btn{:type => "submit", :value => "Create"}/
                .corner_right
