#project-update-header
	#support
		.share
			.facebook
			.twitter
			.googleplus
	#publisher-container
		%a.container-pic{href: '#'}
			%img.photo-publisher{:alt=>"", :src=>"content/images/publisher_placeholder2.png"}
			%span.name Akke M. Draijer
	#project-headline
		.container-headline
			%h1.title South africa dryness issue: irrigation system in uganda
			.icon-where
			%h2.subtitle South africa/uganda
		.tags-container
			%h4
				Tags:
			%ul.tags
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} Dryness
				%li
					.bullet
					%a{href: '#'} Short
				%li
					.bullet
					%a{href: '#'} Irrigation
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} China
				%li
					.bullet
					%a{href: '#'} Africa
				%li
					.bullet
					%a{href: '#'} ngo
				%li
					.bullet
					%a{href: '#'} Irrigation
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} uganda
				%li
					.bullet
					%a{href: '#'} water
#project-update-tab
	%ul.tab
		%li.active
			%a{href: '/project_update.html'} Update <span class="number">(15)</span>
		%li
			%a{href: '/project_details.html'} Project Details
		%li
			%a{href: '/guestbook.html'} Guestbook <span class="number">(241)</span>
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line
#donation
	#publisher-intro
		%p.name
			Akke M. Draijer says:
		%p.quote
			“Here should go a wonderful intro written by the publisher to acknowledge the supporter action and his commitment toward the project.”
	
	#payment
		%h1
			Donation / <span>payment</span>
		%hr.spacer-payment
		#money-transfer
			.icon
			.container
				%h2
					Bank transfer on local actors account
				%p
					You can choose to make a donation for any amount of money by bank transfer. Below the information necessary for the transaction.
				#dati-transfer
					#reason
						.left
							%h4
								Reason for payments:
						.right
							%p.dati
								South Africa dryness issue: irrigation system in Uganda
					#account
						.left
							%h4
								Account holder:
						.right
							%p.dati
								Local Actors
					#iban
						.left
							%h4
								IBAN:
						.right
							%p.dati IT0094649803640389809843

		%hr.spacer-payment
		#online-payment
			.icon
			.container
				%h2
					Online payment using Paypal
				%p
					Alternatively you can make a donation within the Paypal system. Paypal is a safe option for online payments, working with credit cards and charge cards, prepaid cards, bank accounts.
				.paypal-button
					.clear-box
					.button_container			
						.corner_left
						%h4.buttons.yellow_button
							%a{:href=>"#"} Paypal
						.corner_right









