#container-404
	.error404
		%img.mobile{:alt=>"", :src=>"content/images/404_mobile.gif"}
		%img.web{:alt=>"", :src=>"content/images/404_web.gif"}
	.title
		%h1
			Error:
		%h1.dx
			file not found
	#lasalvezza
		.clear-box
		.button_container			
			.corner_left
			%h4.buttons.yellow_button
				%a{:href=>"#"} La Salvezza
			.corner_right
