#footer
	.clear
	#prefooter
		.box
			%p we just started our project,if you think is cool follow us on social media
			/ AddThis Follow BEGIN
			.addthis_toolbox.addthis_32x32_style.addthis_default_style
				%a.addthis_button_facebook_follow{"addthis:userid" => "localactors.org"}
				%a.addthis_button_twitter_follow{"addthis:userid" => "LocalActorsorg"}
				%a.addthis_button_linkedin_follow{"addthis:userid" => "localactors", "addthis:usertype" => "company"}
				%a.addthis_button_instagram_follow{"addthis:userid" => "localactors"}
			%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-511a1fa650aab7a5", :type => "text/javascript"}
			/ AddThis Follow END


		.local
			%hr.spacer-prefooter
			.spiegazione
				%h2 HOW MANY LOCAL ACTORS IN OUR COMMUNITY?
				%p help us grow, become a local actor!
			.join
				.clear-box
				.button_container			
					.corner_left
					%h4.buttons.yellow_button
						%a{:href=>"#"} Join!
					.corner_right
	%hr.spacer-footer	
	.blue		
		%p 
			P.IVA 323579891 /
			%a{href: 'mailto: weare@localactors.org'} contact us 
			%span /
			%span.iubenda
				%a{:href => 'http://www.iubenda.com/privacy-policy/300072', :class => "iubenda-white iubenda-embed", :title => "Privacy Policy"} Privacy Policy
				%script{:type => "text/javascript"}
					(function (w,d) {var loader = function () {var s = d.createElement("script"), 
					tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; 
					tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}
					else if(w.attachEvent){w.attachEvent("unload", loader);}else{w.onload = loader;}})(window, document);
		%p.credits
			proudly designed by 
			%a{href: 'http://thedoersproject.com'} the doers
		.clear
		%hr.spacer-rights
		.rights
			%a.creative-commons{:rel=>"license",:href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/"}
				%img{:alt=>"Creative Commons License", :style=>"border-width:0", :src=>"http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"}
			.container
				%p If not otherwise specified all content of this website is subject to the following license:
				%a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/"} Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.