%form#das-form.login-form.blue-form{:action => "/Account/ResetPasswordRequest", :method => "post"}
	.container
		.container-form
			.validation-summary-valid{"data-valmsg-summary" => "true"}
				%ul
				%li{:style => "display:none"}
			#login-form
				.container_robot
					.robot-form
					.container
				.container-text-form
					%fieldset
						%label.login{:for => "username"}
							Username / Email:
						%input#Username{:name => "Username", :type => "text", :value => ""}/
						%span.field-validation-valid{"data-valmsg-for" => "Username", "data-valmsg-replace" => "true"} notifica placeholder
		.richiedi-password
			.clear-box
			.button_container			
				.corner_left
				%h4.buttons.yellow_button
					%a#registrati{:href => "javascript:$(\"#das-form\")[0].submit();"}
						%span Richiedi
				.corner_right
