#profile-bar
	#header-profile
		#donor
			%img.photo-donor{:alt=>"", :src=>"content/images/publisher_placeholder2.png"}
			.container
				%h3.name Alena Buklova
				%a{:href=>"#"} Settings
		#projects-supported
			%hr.spacer-profile
			.container
				#supported
					%h3
						<span class="number">16</span> supported projects
				#donation
					%a{:href=>"/profile_bar_open.html"}
						<span class="number">&#128; 550</span> donated
		#updates
			%hr.spacer-profile
			.container
				%a{:href=>"/profile_bar_stream_updates.html"} updates
		#logout
			.container
				%a{:href=>"#"} Logout










