#profile-bar
	#header-profile
		#donor
			%img.photo-donor{:alt=>"", :src=>"content/images/publisher_placeholder2.png"}
			.container
				%h3.name Alena Buklova
				%a{:href=>"#"} Settings
		#projects-supported
			%hr.spacer-profile
			.container
				#supported
					%h3
						<span class="number">16</span> supported projects
				#donation
					%a{:href=>"#"}
						<span class="number">&#128; 550</span> donated
		#updates
			%hr.spacer-profile
			.container
				%a{:href=>"#"} updates
		#logout
			.container
				%a{:href=>"#"} Logout
	%ul#supported_list
		%hr.spacer-projects-top
		%a.close{:href=>"/profile_bar.html"} close
		%li
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project.png"}
			.container-title
				%a{:href=>"#"} South Africa dryness issue: irrigation system in Uganda
				.location
					.icon-where
					%h2 South Africa/Uganda
			.donation-money
				%h2
					<span class="number">&#128; 70</span> donated
				%h3.date on 17 / September / 2012
				%h2
					<span class="number">&#128; 55</span> donated
				%h3.date on 06 / April / 2012
		%li
			%hr.spacer-projects
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project2.png"}
			.container-title
				%a{:href=>"#"} Rosella Lombok Pride
				.location
					.icon-where
					%h2 Lombok Island/Indonesia long placeholder location
			.donation-money
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 22 / June / 2012
		%li
			%hr.spacer-projects
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project.png"}
			.container-title
				%a{:href=>"#"} South Africa dryness issue: irrigation system in Uganda
				.location
					.icon-where
					%h2 South Africa/Uganda
			.donation-money
				%h2
					<span class="number">&#128; 70</span> donated
				%h3.date on 04 / October / 2012
		%li
			%hr.spacer-projects
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project2.png"}
			.container-title
				%a{:href=>"#"} Rosella Lombok Pride
				.location
					.icon-where
					%h2 Lombok Island/Indonesia long placeholder location
			.donation-money
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 06 / April / 2012
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 19 / November / 2012
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 03 / May / 2012

#project-update-header
	#support
		.share
			.facebook
			.twitter
			.googleplus
		.donate
			.clear-box
			.button_container			
				.corner_left
				%h4.buttons.yellow_button
					%a{:href=>"#"} Donate
				.corner_right
	#publisher-container
		%a.container-pic{href: '#'}
			%img.photo-publisher{:alt=>"", :src=>"content/images/publisher_placeholder2.png"}
			%span.name Akke M. Draijer
	#project-headline
		.container-headline
			%h1.title South africa dryness issue: irrigation system in uganda
			.icon-where
			%h2.subtitle South africa/uganda
		.tags-container
			%h4
				Tags:
			%ul.tags
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} Dryness
				%li
					.bullet
					%a{href: '#'} Short
				%li
					.bullet
					%a{href: '#'} Irrigation
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} China
				%li
					.bullet
					%a{href: '#'} Africa
				%li
					.bullet
					%a{href: '#'} ngo
				%li
					.bullet
					%a{href: '#'} Irrigation
				%li
					.bullet
					%a{href: '#'} South Africa
				%li
					.bullet
					%a{href: '#'} uganda
				%li
					.bullet
					%a{href: '#'} water
#project-update-tab
	%ul.tab
		%li.active
			%a{href: '#'} Update
		%li
			%a{href: '#'} Project Details
		%li
			%a{href: '#'} Guestbook
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line
#update-body
	%ul#info-project
		%li
			%h2 -205
			%h3
				Days
		%li
			%h2
				94.850
			%h3
				Supporters
		%li.money
			%h2
				<span class="euro">&#128;</span> 39.752
			%h3
				Raised of <span class="total">&#128; 15.000</span> pledged
		%li.achieved
			.worm
			%ul#project-step
				%li
					%hr.step
					.main-container
						%h4.number
							1.
						.step-container
							%h3.step
								Build a bridge
							%h3.money
								&#128; 600
				%li
					%hr.step
					.main-container
						%h4.number
							2.
						.step-container
							%h3.step
								Build a bridge placeholder text title
							%h3.money
								&#128; 1.350
				%li
					%hr.step
					.main-container
						%h4.number
							3.
						.step-container
							%h3.step
								Placeholder title
							%h3.money
								&#128; 4.700
		%hr.info-spacer
	.single-update
		.single-update-header
			.date
				%h3.day 16 /
				%h3.month September
				%h3.year / 2013
			.comments-container
				.comments
					.arrow
					%a{href: '#'} 19 Comments
				.share
					.arrow
					%a{href: '#'} Share
			.update-headline-container
				.main-container
					%p.info-project-track
						<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
					.clear
					%h1.title-update
						Intervista a Umarik e Monique Korman
			.intro-update-container
				%p.intro
					Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
		.single-update-body
			.qa
				%p
					<span class="question">Is she dead, yes or no?</span> The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
				%p
					<span class="question">Ok, but how?</span> And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
				%p
					<span class="question">Are you ready for the truth?</span> You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
			%ul.list
				%li
					.arrow
					%p Irrigation Systems Bangladesh
				%li
					.arrow
					%a{href: '#'} Aquaculture
				%li
					.arrow
					%p South Africa Dryness Issues
				%li
					.arrow
					%p Irrigation Systems Bangladesh
	.clear
	%hr.update
	.single-update
		.single-update-header
			.date
				%h3.day 04 /
				%h3.month August
				%h3.year / 2013
			.comments-container
				.comments
					.arrow
					%a{href: '#'} 05 Comments
				.share
					.arrow
					%a{href: '#'} Share
			.update-headline-container
				.main-container
					%p.info-project-track
						<span class="number">-37</span> days / <span class="number">&#128; 5.433</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">231</span> supporters
					.clear
					%h1.title-update
						Short placeholder
			.intro-update-container
				%p.intro
					The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
		.single-update-body
			.generic
				%p
					Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
					That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
				%p
					Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
			.photo
				%img.photo-update{:alt=>"", :src=>"content/images/placeholder_pic_update1.png"}
				%img.photo-update{:alt=>"", :src=>"content/images/placeholder_pic_update2.png"}
				.description
					.arrow
					%p
						If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
			.generic
				%p
					That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
				%p
					Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
					That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
	.clear
	%hr.update
	.single-update
		.single-update-header
			.date
				%h3.day 29 /
				%h3.month May
				%h3.year / 2013
			.comments-container
				.comments
					.arrow
					%a{href: '#'} 13 Comments
				.share
					.arrow
					%a{href: '#'} Share
			.update-headline-container
				.main-container
					%p.info-project-track
						<span class="number">-37</span> days / <span class="number">&#128; 5.433</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">231</span> supporters
					.clear
					%h1.title-update
						Three line placeholder long title headline
		.single-update-body
			.generic
				%p
					However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
					That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
				%p
					That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
			.quote
				%p.name
					Samuel L. Jackson says:
				%p.quote
					<span class="quotation">“</span>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.”
			.clear
			.generic
				%p
					Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
			.photo
				%img.photo-update{:alt=>"", :src=>"content/images/placeholder_pic_update3.png"}
				%img.photo-update{:alt=>"", :src=>"content/images/placeholder_pic_update4.png"}
				.description
					.arrow
					%p
						If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
				%img.photo-update{:alt=>"", :src=>"content/images/placeholder_pic_update5.png"}
				.description
					.arrow
					%p
						Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
			.interview
				.question
					.name
						%h4 s.
					%p
						The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness?
				.answer
					.name
						%h4 b.
					%p
						The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
					%p
						Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
				.question
					.name
						%h4 s.
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley?
				.answer
					.name
						%h4 b.
					%p
						Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
















