#profile-bar
	#header-profile
		.right
			.button_container			
				.corner_left
				%h4.buttons.yellow_button
					%a{:href=>"#"} Join!
				.corner_right
			&nbsp;
			.button_container			
				.corner_left
				%h4.buttons.yellow_button
					%a{:href=>"#"} Login!
				.corner_right










