#profile-bar
	#header-profile
		#donor
			%img.photo-donor{:alt=>"", :src=>"content/images/publisher_placeholder2.png"}
			.container
				%h3.name Alena Buklova
				%a{:href=>"#"} Settings
		#projects-supported
			%hr.spacer-profile
			.container
				#supported
					%h3
						<span class="number">16</span> supported projects
				#total-donated
					%a{:href=>"#"}
						<span class="number">&#128; 550</span> donated
		#updates
			%hr.spacer-profile
			.container
				%a{:href=>"/profile_bar_stream_updates.html"} updates
		#logout
			.container
				%a{:href=>"#"} Logout
	%ul#supported_list
		%hr.spacer-projects-top
		%a.close{:href=>"/profile_bar.html"} close
		%li
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project.png"}
			.container-title
				%a{:href=>"#"} South Africa dryness issue: irrigation system in Uganda
				.location
					.icon-where
					%h2 South Africa/Uganda
			.donation-money
				%h2
					<span class="number">&#128; 70</span> donated
				%h3.date on 17 / September / 2012
				%h2
					<span class="number">&#128; 55</span> donated
				%h3.date on 06 / April / 2012
		%li
			%hr.spacer-projects
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project2.png"}
			.container-title
				%a{:href=>"#"} Rosella Lombok Pride
				.location
					.icon-where
					%h2 Lombok Island/Indonesia long placeholder location
			.donation-money
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 22 / June / 2012
		%li
			%hr.spacer-projects
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project.png"}
			.container-title
				%a{:href=>"#"} South Africa dryness issue: irrigation system in Uganda
				.location
					.icon-where
					%h2 South Africa/Uganda
			.donation-money
				%h2
					<span class="number">&#128; 70</span> donated
				%h3.date on 04 / October / 2012
		%li
			%hr.spacer-projects
			%img.photo-project{:alt=>"", :src=>"content/images/cover_project2.png"}
			.container-title
				%a{:href=>"#"} Rosella Lombok Pride
				.location
					.icon-where
					%h2 Lombok Island/Indonesia long placeholder location
			.donation-money
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 06 / April / 2012
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 19 / November / 2012
				%h2
					<span class="number">&#128; 48</span> donated
				%h3.date on 03 / May / 2012