#project-update-header
	#support
		#publisher-container
			%img.photo-publisher{:alt=>"", :src=>"images/publisher.png"}
			%a.name{href: '#'} Akke M. Draijer
		.share
			%h4
				share:
		.clear-box
		.button_container			
			.corner_left
			%h4.buttons.yellow_button
				%a{:href=>"#"} Donate
			.corner_right
	#project-headline
		%h1.title Rosella Lombok pride placeholder title
		.icon-where
		%h2.subtitle Indonesia/Lombok Island
	.tags-container
		%h4
			Tags:
		%ul.tags
			%li
				%a{href: '#'} South Africa
			%li
				%a{href: '#'} Dryness
			%li
				%a{href: '#'} Irrigation
			%li
				%a{href: '#'} South Africa
			%li
				%a{href: '#'} Dryness
#project-update-tab
	%ul.tab
		%li.active
			%a{href: '#'} Update
		%li
			%a{href: '#'} Project Details
		%li
			%a{href: '#'} Guestbook
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line
#update-body
	%ul#info-project
		%li
			%h2 -15
			%h3
				Days
		%li
			%h2
				4.850
			%h3
				Supporters
		%li
			%h2
				&#128; 9.752
			%h3
				Raised of <span class="total">&#128; 15.000</span> pledged
		%li.achieved
			.worm
			%ul#project-step
				%li
					%hr.step
					.main-container
						%h4.number
							1.
						.step-container
							%h3.step
								Build a bridge
							%h3.money
								&#128; 600
				%li
					%hr.step
					.main-container
						%h4.number
							2.
						.step-container
							%h3.step
								Build a bridge placeholder text title
							%h3.money
								&#128; 1.350
				%li
					%hr.step
					.main-container
						%h4.number
							3.
						.step-container
							%h3.step
								Placeholder title
							%h3.money
								&#128; 4.700
	.single-update
		.date
			%h3.day 16 /
			%h3.month October
			%h3.year / 2013
		.comments-container
			.comments
				.arrow
				%a{href: '#'} 19 Comments
			.share
				.arrow
				%a{href: '#'} Share
		.update-headline-container
			%p.info-project-track
				<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
			%h1.title-update
				Intervista a Umarik e Monique Korman
		.intro-update-container
			%p.intro
				Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.














