#projects-container
	%hr.spacer-projects
	.cover-projects
		%p.info-project-track
			<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
		.info-project
			%h1.title
				%a{href: '/project_update.html'}
					South Africa Dryness issue: irrigation system in uganda
			.icon-where
			%h2.subtitle
				South Africa/Uganda	placeholder headline location
			%p.intro
				Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
		.container-photo
			%img.photo-cover{:alt=>"", :src=>"content/images/cover_project.png"}
	%hr.spacer-projects
			