#mapgoogle
#filtered-by-tag
	%h4
		Filtered by:
	%ul.tags
		%li
			.bullet
			%a{href: '#'} South Africa
		%li
			.bullet
			%a{href: '#'} Dryness
		%li
			.bullet
			%a{href: '#'} Short
		%li
			.bullet
			%a{href: '#'} Irrigation
#projects-container
	%hr.spacer-projects
	.cover-projects
		%p.info-project-track
			<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
		.info-project
			%h1.title
				%a{href: '/project_update.html'}
					South Africa Dryness issue: irrigation system in uganda
			.icon-where
			%h2.subtitle
				South Africa/Uganda placeholder headline location
			%p.intro
				Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
		.container-photo
			%img.photo-cover{:alt=>"", :src=>"content/images/cover_project.png"}
	%hr.spacer-projects
	.cover-projects
		%p.info-project-track
			<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
		.info-project
			%h1.title
				%a{href: '/project_update.html'}
					Short placeholder
			.icon-where
			%h2.subtitle
				South Africa/Uganda
			%p.intro
				Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
		.container-photo
			%img.photo-cover{:alt=>"", :src=>"content/images/cover_project2.png"}
	%hr.spacer-projects
	.cover-projects
		%p.info-project-track
			<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
		.info-project
			%h1.title
				%a{href: '/project_update.html'}
					Rosella Lombok pride
			.icon-where
			%h2.subtitle
				South Africa/Uganda placeholder headline location
			%p.intro
				Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
		.container-photo
			%img.photo-cover{:alt=>"", :src=>"content/images/cover_project.png"}
			