#project-update-header
	#support
		#publisher-container
			%img.photo-publisher{:alt=>"", :src=>"content/images/publisher.png"}
			%a.name{href: '#'} Akke M. Draijer
		%hr.spacer-donate
		.share
			.facebook
			.twitter
			.googleplus
		.donate
			.clear-box
			.button_container			
				.corner_left
				%h4.buttons.yellow_button
					%a{:href=>"#"} Donate
				.corner_right
	.clear
	#project-headline
		%h1.title South africa dryness issue: irrigation system in uganda
		.icon-where
		%h2.subtitle South africa/uganda
	.tags-container
		%h4
			Tags:
		%ul.tags
			%li
				%a{href: '#'} South Africa
			%li
				%a{href: '#'} Dryness
			%li
				%a{href: '#'} Irrigation
			%li
				%a{href: '#'} South Africa
			%li
				%a{href: '#'} Dryness
#project-update-tab
	%ul.tab
		%li.active
			%a{href: '#'} Update
		%li
			%a{href: '#'} Project Details
		%li
			%a{href: '#'} Guestbook
		%li
			%a{href: '#'} Ask a Question
	%hr.tab-line

















