%form.blue-form#register{:action => "/Account/Subscribe", :method => "post"}
  %div
    %div
      %label{:for => "Email"} Email
      %input#Email{"data-val" => "true", "data-val-email" => "The Email field is not a valid e-mail address.", "data-val-required" => "The Email field is required.", :name => "Email", :type => "text", :value => ""}/
      %span.field-validation-valid{"data-valmsg-for" => "Email", "data-valmsg-replace" => "true"}
    .clarfix
      %label{:for => "Password"} Password
      %input#Password{"data-val" => "true", "data-val-required" => "The Password field is required.", :name => "Password", :type => "password"}/
      %span.field-validation-valid{"data-valmsg-for" => "Password", "data-valmsg-replace" => "true"}
    %div
      %label{:for => "Password"} Conferma Password
      %input#Confirm{"data-val" => "true", "data-val-equalto" => "&amp;#39;Confirm&amp;#39; and &amp;#39;Password&amp;#39; do not match.", "data-val-equalto-other" => "*.Password", "data-val-required" => "The Confirm field is required.", :name => "Confirm", :type => "password"}/
      %span.field-validation-valid{"data-valmsg-for" => "Confirm", "data-valmsg-replace" => "true"}
    %div
      %label{:for => "Newsletter"} Icriviti alla Newsletter
      %input#Newsletter{"data-val" => "true", "data-val-required" => "The Newsletter field is required.", :name => "Newsletter", :type => "checkbox", :value => "true"}/
      %input{:name => "Newsletter", :type => "hidden", :value => "false"}/
      %span.field-validation-valid{"data-valmsg-for" => "Newsletter", "data-valmsg-replace" => "true"}
  %hr.spacer/
  %div
    %p
      Dopo aver letto l'informativa
      = succeed "," do
        %a{:href => "/Home/privacy", :target => "_blank"} Privacy
      acconsento al trattamento dei miei dati per finalit&agrave; di invio di mails a carattere promozionale
    %div
      %div
        %label{:for => "Privacy0", :style => "text-align:right;"} Acconsento
        %input#Privacy0{"data-val" => "true", "data-val-required" => "Il campo Privacy è obbligatorio.", :name => "Privacy", :type => "radio", :value => "Acconsento"}/
      %div
        %label{:for => "Privacy1", :style => "text-align:right;"} Non Acconsento
        %input#Privacy1{"data-val" => "true", "data-val-required" => "Il campo Privacy è obbligatorio.", :name => "Privacy", :type => "radio", :value => "Non Acconsento"}/
      %span.field-validation-valid{"data-valmsg-for" => "Privacy", "data-valmsg-replace" => "true"}
  %br/
  %input{:type => "submit", :value => "  Iscriviti  "}/
